<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Add Student</h1>

    <form action="/student/register" method="POST">
        <h3>Enter Student Details:</h3>
        <input type="text" name="name" placeholder="Enter name"><br>
        <h3>Enter Student Branch:</h3>
        <input type="text" name="branch" placeholder="Enter branch"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>